{% extends "base_after_logging_manager.html" %}

{% block page_title %}Add Technician Skills{% endblock %}

{% block content %}
    <p>Add Technician Skills</p>
    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-control {% if field.errors %}errors{% endif %}">
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
            </div>
        {% endfor %}
        <button type="submit">Submit</button>
    </form>
        
{% endblock %}
